body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}
.block-wrap,
.block-add-bar:focus {
  outline: none;
}

#main
  .block-item
  .divider.ui-sortable-handle.divider-collapsed
  ~ .repeater-heading,
#main
  .block-item
  .divider.ui-sortable-handle.divider-collapsed
  ~ .repeater.divider-collapse-zone {
  display: none;
}

/* Collapsed fields preview summary */

.field-group.closed .field-group-preview .summary {
  column-count: auto;
  column-width: 175px;
  /*     max-height: 180px; */
  max-width: 100%;
  column-fill: balance;
  padding-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.field-group.closed .field-group-preview .summary dl {
  font-size: 10px;
}

.field-group.closed .field-group-preview .summary dd {
  overflow-wrap: break-word;
  word-break: break-all;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/* Style checkboxes as toggles */

.form-simple:not(#listing) .checkbox-single label {
  min-width: 0;
  position: relative;
  padding-left: 0 !important;
  margin-bottom: 0;
  display: flex;
}
.form-simple:not(#listing) .checkbox-single .form-entry {
  padding: 0;
}

.form-simple:not(#listing) .checkbox-single label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #e5e8eb;
  border-radius: 20px;
  margin-right: 8px;
}

.form-simple:not(#listing) .checkbox-single label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px; // TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH.
  left: 1px;
  transition: all 0.3s;
}
.form-simple:not(#listing) .checkbox-single.selected label::after {
  left: 21px;
}
.form-simple:not(#listing) .checkbox-single.selected label::before {
  background-color: #47cf73;
}
.form-simple:not(#listing) input[type="checkbox"].check,
input[id="save_as_draft"] {
  display: none;
}

.submit-bar-actions .button.button-simple {
  margin-top: 0;
}
.submit-bar .checkbox-single .save-as-draft {
  margin-bottom: 0;
}
#main .submit-bar .checkbox-single {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* end Style checkboxes as toggles */

.button.button-simple {
  padding: 8px 10px;
  border: none;
  background-image: -webkit-linear-gradient(#da5a47, #cc5643);
  background-image: -moz-linear-gradient(#da5a47, #cc5643);
  background-image: -ms-linear-gradient(#da5a47, #cc5643);
  background-image: -o-linear-gradient(#da5a47, #cc5643);
  background-image: linear-gradient(#da5a47, #cc5643);
  color: #fff;
  margin-top: 7px;
  border-radius: 3px;
  /* 	font-size: 15px; */
  font-weight: 400;
}
@media only screen and (min-width: 770px) {
  .button.button-simple {
    padding: 10px 20px; /* default */
  }
}

.form-simple .checkbox-single {
  /* 	margin-top:17px; */
}
.divider-collapse-zone > .checkbox-single:first-child {
  margin-top: 12px;
}

/* LISTINGS */
a.primary:link,
a.primary:visited,
.primary {
  margin-left: 10px;
}

td .button.button-small {
  line-height: 2;
}

svg.icon.icon-arrow-circle-down {
  fill: #da5a47;
}

/* CONTENT */
#main form h2.divider {
  font-size: 1rem;
  font-weight: 300;
  background: none !important;
  margin: 0 0 0;
  padding-bottom: 12px;
  padding-top: 12px;
}

#main .field-group {
  background-color: #fff;
  padding: 12px 0 12px 0;
  /* test */
  border: 1px solid #e3e5e8;
}
#main .divider-collapse-zone .field-group:not(:first-child) {
  border-top: 1px solid #ebedef;
}
#main h3.field-group-label {
  font-weight: 300;
  font-size: 1rem;
  color: #4d4d4d;
  margin-bottom: 12px;
}
#main .field-group .divider-toggle {
  vertical-align: middle;
}
#main .divider.ui-sortable-handle {
  background-color: #e2e2e5 !important;
  /*  	border: 1px solid #e3e5e8 !important; 	 */
}

#main .divider.ui-sortable-handle {
}

#main .divider-collapse-zone {
  /*  	border-top: 1px solid #e3e5e8; 	 */
  /*  	border-bottom: 1px solid #e3e5e8; 	 */
  /*  	Because repeaters look weird */
  /*  	border-left: 1px solid #e3e5e8; 	 */
  /*  	border-right: 1px solid #e3e5e8; 	 */

  /* 	box-shadow: 1px 1px 40px rgba(0,0,0,.12);	  */
}

#main .block-item > .divider-collapse-zone {
  border: none;
  padding-top: 12px;
}
#main .block-item {
  border: 1px solid #e3e5e8;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.12);
}
/* Repeater footer */
/* 	todo */
#main .repeater .repeater-footer a {
  /*
	border-radius: 5px; 
	background-color: #cccccc;
*/
}
/* End repeater footer */
/* Block add bar */
#main .block-add-bar a {
  font-size: 82%;
  padding: 1px 4px 1px 4px;
  background-color: transparent;
}
.block-add-prompt {
  background-color: transparent;
}
#main .block-add-prompt svg.icon-add {
  fill: #da5a47;
}
@media only screen and (min-width: 770px) {
  #main .block-add-bar a {
    font-size: 100%;
    padding: 1px 10px 1px 10px; /* default */
  }
}
#main .block-wrap .block-add-bar a:hover {
  /* 	color: #4d4d4d; */
  background-color: #4d4d4d;
}
.block-add-bar {
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 0;
  padding-left: 0;
}
/* Submit bar */
.submit-bar .field-wrap {
  padding-left: 0;
}

#main .submit-bar {
  padding: 10px 12px;
  font-size: 82%;
}
#main .submit-bar:not(.pinned) {
  border-top: none;
  margin-top: 1rem;
}

#main .submit-bar .save-as-draft {
  min-width: 0;
  padding-right: 1rem;
  font-size: 82%;
}

@media only screen and (min-width: 518px) {
  #main .submit-bar {
    padding: 10px 24px; /* default */
    font-size: 100%;
  }
  #main .submit-bar .save-as-draft {
    font-size: 100%;
  }
}

.checkbox-single > * {
  margin-bottom: 4px;
}
#main .form-simple .fieldset-inner,
.form-simple .field-wrap {
  padding-left: 16px;
  padding-top: 12px;
}
#main .repeater-heading {
  margin-left: 12px;
  font-size: 1rem;
  font-weight: 300;
}
/*When in a field group*/
#main .field-group-fields .repeater-heading {
  margin-left: 36px;
}
#main .repeater-heading.divider-collapsed {
  margin-bottom: 12px;
}

.form-simple label,
.form-simple .fieldset-inner .legend-wrap,
.repeater-heading {
  font-weight: 500;
  margin-bottom: 4px;
  /*  	margin-left: 16px;  */
}

#main .divider-collapse-zone.repeater {
  margin-left: 12px;
}

.form-entry .input-simple {
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
}

.divider-toggle svg {
  height: 15px;
  width: 15px;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  color: #333;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.blocks {
  border-top: none;
  padding: 0;
}

.blocks:before {
  display: none;
}

.block-item .rm svg {
  width: 20px;
  height: 20px;
}

.title-panel {
  padding: 12px; /*tim*/
}

.smartbar {
  border: none;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #e3e5e8;
  -moz-box-shadow: 0 0 0 1px #e3e5e8;
  box-shadow: 0 0 0 1px #e3e5e8;
  margin: 12px 12px 12px 12px;
}

.smartbar li {
  /* 	line-height: 3.25rem; */
  border-right: none;
  border-radius: 3px;
}

#main .smartbar ul:not(.smartbar-filters) li a:not(.button),
.smartbar li button {
  padding: 1rem 1rem;
}
#main .smartbar .smartbar-filters .smartbar-actions {
  margin-left: 0.5em;
}

.smartbar li .breadcrumb a:last-child {
  font-weight: 500;
}

.smartbar + .inner {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #e3e5e8;
  -moz-box-shadow: 0 0 0 1px #e3e5e8;
  box-shadow: 0 0 0 1px #e3e5e8;
  margin: 12px;
  padding: 0;
}

/* smartbar nav */
.smartbar .tab-active {
  border: none;
  margin: 0;
  border-radius: 0px;
}

.smartbar li a.tab-active,
.smartbar li button.tab-active,
.smartbar li .breadcrumb.tab-active {
  background-color: rgba(204, 204, 208, 0.17);
}

#main .smartbar .tab-content .tab-panel {
  padding: 0.5rem 0.5rem 0 0;
}

/* SIDEBAR TOPBAR */

.button.to-the-top.icon-left span,
.button.button-icon.icon-left span {
  flex-basis: 100px;
}

.button-icon div {
  min-width: 70px;
}
/* .topbar.custom, .sidebar, .sidebar-back a { */
.sidebar,
.sidebar-back a {
  background-color: #333f4d;
  color: #d7d9db;
  border: none;
}

.topbar a:hover {
  color: inherit;
}

/* .topbar .selected svg, .topbar .selected:hover svg, .topbar svg */
.sidebar-back svg {
  fill: #fff;
}

.sidebar h2,
.sidebar h3 {
  color: #fff;
}

/*
.topbar a:hover svg, .topbar a:focus svg {
	fill:#d7d9db;
}
*/

.sidebar .selected {
  color: #fff;
}

.sidebar li {
  border: none;
}

.sidebar li a:hover {
  color: #fff;
}

.sidebar li a,
.sidebar li span,
.topbar a,
.topbar a.selected {
  color: inherit;
  font-weight: 500;
  font-size: 85%;
}

.sidebar .badge {
  background-color: unset;
}

/* MAINS */

.main-panel {
  background-color: #ebedef;
}

/* form:not(.form-login):not(.buttons):not(.smartbar-util > form)  */
#main > form.form-simple {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #e3e5e8;
  -moz-box-shadow: 0 0 0 1px #e3e5e8;
  box-shadow: 0 0 0 1px #e3e5e8;
  margin: 12px;
  padding: 12px;
}

.main-panel > .divider-collapse-zone > .inner,
.main-panel > .inner {
  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
}
.main-panel > h2.divider {
  margin-left: 12px;
  margin-right: 12px;
}

@media only screen and (min-width: 518px) {
  /* 	form:not(.form-login):not(.buttons):not(.smartbar-util > form) */
  #main > form.form-simple {
    margin: 24px; /* default */
    padding: 24px; /* default */
  }
  .smartbar {
    margin-left: 24px;
    margin-right: 24px;
  }
  .smartbar + .inner {
    margin: 24px; /*default*/
  }
  .title-panel {
    padding: 24px;
  }
  .main-panel > .divider-collapse-zone > .inner,
  .main-panel > .inner {
    padding: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
  }
  .main-panel > h2.divider {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media (min-width: 1024px) {
  /* Selector not working in chrome
	form:not(.form-login):not(.buttons):not(.smartbar-util > form) {
		margin: 36px;
		padding: 36px;
	}	
*/
  #main > form.form-simple {
    margin: 36px;
    padding: 36px;
  }

  .smartbar {
    margin-left: 36px;
    margin-right: 36px;
  }
  .smartbar + .inner {
    margin: 36px; /*default*/
  }
  .title-panel {
    padding: 36px;
  }
  .main-panel > .divider-collapse-zone > .inner,
  .main-panel > .inner {
    padding: 36px;
    margin-left: 36px;
    margin-right: 36px;
    background-color: #fff;
  }
  .main-panel > h2.divider {
    margin-left: 36px;
    margin-right: 36px;
  }
}

.main-panel > h2.divider {
  background-color: transparent;
  margin-top: 12px;
}
#main.main-panel > .divider-collapse-zone {
  border: none;
}

.inner table {
  background-color: white;
}

.smartbar-util form:not(.smartbar-search) {
  margin: 0px;
  padding: 0px;
}

table th,
table td {
  line-height: 1.8rem;
}

/* 
Assets
*/

.button-toggle .button.toggle-active svg {
}

.button-group.button-toggle .button {
  border: 1px solid #e9eaea;
}
.asset-grid .asset-meta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* DASHBOARD */

.dash-content .body,
.dash-flip-front .body,
.dash-flip-back .body {
  background-color: #fff;
}

.dash-content,
.dash-flip-front,
.dash-flip-back,
.widget .dash-list li {
  border: none;
  line-height: 220%;
}

.widget a,
.widget a,
.widget a:hover,
.widget a:active,
.widget a:link,
.widget a:visited {
  border: none;
}

.utilnav .logout,
.utilnav a.logout:focus {
  border-radius: 4px;
  min-width: 71px;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: block;
}

.asset-badge-thumb {
  max-width: 150px;
}
